@font-face {
    font-family: "prestige-elite-std", monospace;
    font-style: normal;
}

@font-face {
    font-family: "nocturne-serif", serif;
    font-style: normal;
}

html {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: #222;
}

.container: {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-column-gap: 10px;
}

[class*="col-"] {
    width: 100%;
    margin-top: 3.5rem; /* account for nav bar */
    margin-left: 2px; /* add a little more space on the left or else it looks cramped */
    margin-right: 2px;
}

@media only screen and (min-width: 768px) { 
    .col-1 {width: 45%; 
        margin-top: 40vh; /* do not account for nav bar */
        padding-top: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: fixed;
        margin-left: 10px;
    }
    .col-2 {width: 55%; 
        text-align: right;
        -webkit-box-flex: 1.25;
        -ms-flex-positive: 1.25;
        flex-grow: 1.25;
        margin-right: 0;
    }
    .body h2 {
        font-size: 4.6rem;
    }
}

.head {
    position: fixed;
    top: 0;
    height: 3.5rem;
    width: 100%;
    background: #fff;
    z-index: 100;
    margin: auto;
    font-family: "prestige-elite-std", monospace;
}

.head a{
    color: #545454;
    text-decoration: none;
}

.body { 
    color: #545454;
    font-family: "prestige-elite-std", monospace;
    font-size: 1.1rem;
}

.body i {
    line-height: 2;
}

.body h2 {
    color: #222;
    text-align: left;
    font-family: "nocturne-serif", serif;
    font-style: bold;
    font-size: 3.9rem;
    line-height: 1.4; /* definitely fussing over the small stuff here */
}

@media only screen and (min-width: 768px) { 
    .body h2 {
        font-size: 4.6rem;
    }
}

.article_list { grid-area:body;
    z-index: 0;
    text-align: right;
    font-family: "prestige-elite-std", monospace;
    padding-right: 10px;
    margin-left: auto;
}

.article_list h1, h2, h3, h4, h5, h6 {
    font-family: "nocturne-serif", serif;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_list a {
    color: #222;
    font-size: 2.6rem;
    font-weight: 600;
}

a:hover {
    color: #fef;
    text-decoration: underline;
}

img {
/*    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;*/
    background: transparent;
/*    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;*/
    max-width: 95%;
}

img.center {
    z-index: -1;
    position: absolute;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
}

.article_list a:hover + img.center {
    /* show preview image when hovering link to entry */
    display: block;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}
