@font-face {
    font-family: "prestige-elite-std", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-style: normal;
}

@font-face { /* used for "logo" text only */
    font-family: "yink", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

:root {
    font-size: 18px;
    font-family: "prestige-elite-std", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    -webkit-font-smoothing: antialiased;
    /* color vars */
    --text-purple: #6c4e6a;
    --text-grey: #414141;
    --bg-white: #fdfdfd;
    /* size vars */
    --nav-height: 3rem;
    --home-padding: 1.2rem;
    --home-max-width: 55rem;
    --std-text-inc: 1.1rem;
    }

html {
    background: var(--bg-white);
    color: var(--text-purple);
}

/* Define navbar, footer & multipurpose flexbox container first! */

.navbar {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: 100vw;
    background: var(--bg-white);
    z-index: 100;
    margin: auto;
    letter-spacing: 0.5;
}

.navbar a{
    color: var(--text-grey);
    text-decoration: none;
}

.navbar h4 {
    font-family: "yink", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0;
}

.container: {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 10px;
    gap: 10px;
    margin-top: var(--nav-height);
}

.footer {
    bottom: 0;
    height: var(--nav-height);
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}

.footer h4 {
    display:inline-block;
    font-size: 2rem;
    font-family: "yink", sans-serif;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Landing page formatting */

.title {
    width: 100%;
    margin-top: var(--nav-height);
    font-family: "yink", sans-serif;
    letter-spacing: 0.4rem;
    text-align: center;
    padding-top: -10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100vw;
}

.title h1 {
    -webkit-margin-before: calc(var(--nav-height) - 1rem);
    margin-block-start: calc(var(--nav-height) - 1rem);
    -webkit-margin-after: var(--nav-height);
    margin-block-end: var(--nav-height);
}

@media (prefers-reduced-motion: no-preference) {
    .title {
        -webkit-animation: shrink-out linear;
        animation-timeline: view();
    }
}

@-webkit-keyframes shrink-out {
    from {scale: 1.7;}
    to {scale: 0.5;}
}

.issue-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-block: 0;
    margin-bottom: var(--home-padding);
    text-align: justify;
}

.issue-preview > :not(img) {
    padding-inline: var(--home-padding);
    margin: auto;
}

.issue-preview > :not(img):first-child {
    grid-column: 2 / 3;
    padding-right: clamp(var(--home-padding), 0, 2rem);
    text-align: justify;
    text-align-last: right;
}

.issue-preview > :not(img):last-child {
    grid-column: 3 / 4;
    padding-left: clamp(var(--home-padding), 0, 2rem);
}

/* img are also links, this doesnt do anything
.issue-preview > img {
    margin-block: auto;
}*/

.issue-preview > img:first-child {
    grid-column: 2 / 3;
}

.issue-preview > img:last-child {
    grid-column: 3 / 4;
}

.issue-preview a > img {
    /* might need to play with this, or grid size, if images get cut off */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.issue-desc {
    margin-bottom: var(--home-padding);
    color: var(--text-grey);
}

.issue-desc h5 {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: var(--std-text-inc);
}

.issue-desc a {
    color: var(--text-purple);
}

.issue-desc i {
    padding-bottom: var(--std-text-inc);
    display: inline;
}

.issue-desc li {
    font-size: var(--std-text-inc);
    list-style: none;
}

.issue-desc > li:last-child {
    margin-bottom: var(--home-padding);
}

.home {
    font-size: var(--std-text-inc); 
    /* text details are defined below in body class. need to change the class on issue01.html to avoid doubling */
    
    max-width: var(--home-max-width);
    margin-inline: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    text-align: justify;
    padding-inline: var(--home-padding);
}

@media (max-width: 768px) {
    .title {
        font-size: 9.4vw;
        margin-bottom: -50;
    }
    @-webkit-keyframes shrink-out {
    from {scale: 2.9;}
    to {scale: 0.5;}
    }
    .issue-preview a > img {
        -o-object-fit: cover;
        object-fit: cover;
        padding-left: 0.5rem; /* this is a dumb fix */
        padding-block: var(--home-padding);
    }
    .issue-desc {
        margin-inline: auto;
        margin-top: var(--home-padding);
        max-width: 500px;
        border: dotted var(--text-purple) 2px;
        
    }
    .issue-preview > :not(img):first-child {
        padding-inline: 0.5rem;
        text-align: left;
        text-align-last: left;
    }

    .issue-preview > :not(img):last-child {
        padding-inline: 0.5rem;
        text-align: left;
    }
    .issue-preview a {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .issue-desc {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (min-width: 768px) {
    .issue-preview { /* may want to adjust min screen width */
        display: grid;
        grid-template-columns: 
            minmax(var(--home-padding), 1fr) 
            minmax(0, calc(var(--home-max-width) / 2)) 
            minmax(0, calc(var(--home-max-width) / 2)) 
            minmax(var(--home-padding), 1fr);
    }
    .title {
        font-size: 10.7vw;
        margin-bottom: -40;
    }
    .title h1 {
        -webkit-margin-before: calc(var(--nav-height) - 1rem);
        margin-block-start: calc(var(--nav-height) - 1rem);
        -webkit-margin-after: calc(var(--nav-height) - 1rem);
        margin-block-end: calc(var(--nav-height) - 1rem);
    }
}

.tagline {
    font-size: 1rem;
    max-width: calc(1.5 * var(--home-max-width));
/*    margin-top: -50;*/
    margin-bottom: 40;
}

/* 
*** Issue 01 formatting  ***
*/

[class*="col-"] {
    width: 100%;
}

.col-1 {
    margin-top: var(--nav-height);
    margin-bottom: 1rem;
}

.body h1 {
    text-align: left;
    font-family: "yink", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3;
    color: var(--text-purple);
}

.body li {
    list-style: none;
}

@media (min-width: 768px) { 
    .col-1 {width: 45%; 
        position: fixed;
        bottom: var(--nav-height);
        margin-top: auto;
    }
    .col-2 {width: 50%; 
        text-align: right;
        margin-top: var(--nav-height)
    }
    .body h1 {
        font-size: 4rem;
            }
}

@media (min-width: 970px) {
    .body h1 {
        font-size: 5rem;
    }
}

.body { 
    font-size: var(--std-text-inc);
    color: var(--text-grey);
}

.body i {
    color: var(--text-grey);
    line-height: 2;
}

.body h1 {
    margin-block: 1.3rem;
}

.article_list { 
    grid-area:body;
    z-index: 0;
    text-align: right;
    padding-right: 10px;
    margin-left: auto;
}

.article_list h4 {
    font-weight: 200;
    font-size:1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_list a {
    color: var(--text-grey);
    font-size: 2.6rem;
    font-weight: 600;
}

a:hover {
    color: #fef;
    text-decoration: underline;
}

img {
/*    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;*/
    background: transparent;
/*    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;*/
    max-width: 95%;
}

img.center {
    z-index: -1;
    position: absolute;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
}

.article_list a:hover + img.center {
    /* show preview image when hovering link to entry */
    display: block;
    -webkit-transition: all 1s ease-in-out 1s;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

/*
*** issue 01 article styling ***
*/

.back-left {
    position: fixed;
    margin-top: var(--nav-height);
    font-size: var(--std-text-inc);
    font-weight: 600;
    padding-inline: 1rem;
    border: dotted black 2px;
    border-radius: 5px;
}

.back-left a {
    text-decoration: none;
    color: var(--text-grey);
}

/* Breakpoints for tiny screens if needed */
@media (max-width: 374px) {
    .navbar h4 {
        position: absolute; 
        left: -999em;
    }
    .col-1 h1 {
        font-size: 18vw;
    }
    .title h1 {
        font-size: 2.8rem;
    }
}
